---
import type { ReactElement, ReactNode } from 'react'

type Props = {
    icon: ReactElement,
    children: ReactNode,
}

const { icon, children } = Astro.props;
---

<div>
    {icon} &lt; 50 employees
</div>