---
import ExplanationStepItem from "./ExplanationStepItem.astro";

import index1Image from "../../../assets/explanation/1.svg";
import index2Image from "../../../assets/explanation/2.svg";
import index3Image from "../../../assets/explanation/3.svg";

const STEPS = [
{
    text: "Stream inputs <br /> or provide MP4 files.",
    indexImage: index1Image,
  },
  {
    text: `Configure output video <br class="sm:hidden block"/> using React components.`,
    indexImage: index2Image,
  },
  {
    text: `Write the result to a file <br class="sm:hidden block" /> or stream it in real time.`,
    indexImage: index3Image,
  },
] as const;
---

<section class="flex flex-col items-center justify-center px-4 py-52 sm:px-8 xl:px-40 2xl:h-fit 2xl:py-40">
  <h2 class="mb-12 text-explanation-header">How does it work?</h2>
  <div class="flex">
    <div class="flex flex-col sm:flex-row gap-x-4 lg:gap-x-8">
      {STEPS.map((step, index) => <ExplanationStepItem {...step} index={index} />)}
    </div>
  </div>
</section>
