---
import SmelterSection from "../../components/demos/compose-video/SmelterSection";
import DemosLayout from "../../layouts/DemosLayout.astro";
---

<DemosLayout canonicalUrl="https://www.smelter.dev">
    <main class="flex justify-center min-h-screen w-full overflow-clip pt-24 px-16">
        <div class="w-full max-w-[1536px] relative gap-y-12 flex flex-col self-center">
            <SmelterSection client:load />
        </div>
    </main>
</DemosLayout>

