---
import { Image } from "astro:assets";
import UseCaseTile from "./UseCaseTile.astro";

import useCase1Image from "../../../assets/use-cases/use-case1.webp";
import useCase2Image from "../../../assets/use-cases/use-case2.webp";
import useCase3Image from "../../../assets/use-cases/use-case3.webp";
import useCasesWave from "../../../assets/use-cases/use-cases-wave.svg";

const USE_CASES = [
  {
    header: "Live-streaming",
    subHeader: "Create awesome, interactive live streams",
    image: useCase3Image,
  },
  {
    header: "Broadcasting",
    subHeader: "Compose professional-grade broadcasts",
    image: useCase2Image,
  },
  {
    header: "Video conferencing",
    subHeader: "Stream or record video conferences seamlessly",
    image: useCase1Image,
  },
] as const;
---

<section class="min-h-screen sm:py-14">
    <div>
        <div class="flex justify-center gap-x-10 lg:gap-x-24 mt-4 mx-4 flex-col mb-28 sm:mx-8 sm:mb-0 sm:flex-row lg:mx-8 xl:mx-40">
            <div class="flex flex-1 flex-col gap-y-6 sticky top-28 sm:static sm:top-0">
				<div class="flex flex-2 text-center mb-6 sm:text-start sm:mb-0">
					<div id="useCasesHeader" class="self-start sm:sticky sm:top-28">
						<h2 class="mb-6 text-useCases-header">Use cases</h2>
						<p class="par-l text-useCases-subheader">
							Use Smelter for live-streaming, broadcasting<br class="hidden xl:block"/>
							video conferencing, and more.
						</p>
						<Image src={useCasesWave} alt="wave pattern" class="absolute -left-40 top-6 opacity-45 sm:opacity-1 sm:top-56 -z-10" />
					</div>
				</div>
				<div class="flex flex-1"/>                         
            </div> 
            <div id="useCasesList" class="flex flex-1 flex-col gap-y-6">
                {USE_CASES.map((useCase) => <UseCaseTile {...useCase} />)}
            </div>
        </div>
    </div>
</section>

<script src="./useCasesSection.ts" />


