---
import { Image, type LocalImageProps } from "astro:assets";

interface Props {
  text: string;
}

const {  text } = Astro.props;
---

<div class="gradient-light-1 flex h-full flex-1 rounded-4xl p-px">
  <div class="h-full w-full rounded-[calc(2rem-1px)] bg-explanation-background">
    <div class="relative z-0 flex h-full flex-col p-6 pt-12 text-center">
      <div class="mb-6">
        <h3 class="text-explanation-text" set:html={text} />
      </div>
    </div>
  </div>
</div>
