---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;

const { class: buttonClass, ...secondaryButtonProps } = Astro.props;
---

<button
  class:list={['rounded-full w-fit gradient-light-4 px-6 h-14 sm:px-7 sm:h-17.5', buttonClass]}
  {...secondaryButtonProps}>
  <div class="flex gap-x-3 text-xl text-white justify-center items-center">
    <slot />
  </div>
</button>
