@tailwind base;
@tailwind components;
@tailwind utilities;


html {
	font-family: Aeonik;
	scroll-behavior: smooth;
}

.upper-case::first-letter {
	text-transform: capitalize;
}

h1 {
	font-family: Aeonik;
	font-weight: 500;
	font-size: 1.875rem;
	line-height: 130%;

	@media (min-width: 48rem) {
			font-size: 2.5rem;
			line-height: 130%;
	}

	@media (min-width: 1024px) {
		font-size: 3.25rem;
		line-height: 130%;
	}
}

h2 {
	font-family: Aeonik;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 130%;

	@media (min-width: 1024px) {
		font-size: 2.125rem;
		line-height: 130%;
	}
}

h3 {
	font-family: Aeonik;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 130%;

	@media (min-width: 1024px) {
		font-size: 1.5rem;
		line-height: 130%;
	}
}

p {
	font-family: Aeonik;
	font-size: 1.125rem;
	line-height: 150%;
}

figcaption {
	font-family: Aeonik;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 120%;

	@media (min-width: 1024px) {
		font-size: 0.875rem;
		line-height: 136%;
	}
}

a {
	@apply text-link
}

body {
	font-family: Aeonik;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 160%;
}

.footer-wave {
	@apply absolute w-auto min-w-full h-full;

	@media (min-width: 640px) {
		width: 100svw;
	}
}

@layer components {
	.par-xl {
		font-family: Aeonik;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 150%;

		@media (min-width: 1024px) {
			font-size: 1.25rem;
		}
	}

	.par-l {
		font-family: Aeonik;
		font-weight: 400;
		font-size: 1rem;
		line-height: 150%;

		@media (min-width: 1024px) {
			font-size: 1.125rem;
		}
	}

	.par-s {
		font-family: Aeonik;
		font-size: 1rem;
		line-height: 160%;
	}

	.par-xs {
		font-family: Aeonik;
		font-size: 0.875rem;
		line-height: 160%;
	}
}

.gradient-red-1 {
	background: linear-gradient(180deg,
			theme("colors.gradient.red") 0%,
			theme("colors.gradient.purple") 100%);
}

.gradient-red-2 {
	background: linear-gradient(360deg,
			theme("colors.gradient.red") 0%,
			theme("colors.gradient.purple") 100%);
}

.gradient-red-3 {
	background: linear-gradient(90deg,
			theme("colors.gradient.red") 0%,
			theme("colors.gradient.purple") 100%);
}

.gradient-red-4 {
	background: linear-gradient(270deg,
			theme("colors.gradient.red") 0%,
			theme("colors.gradient.purple") 100%);
}

.gradient-react {
	background: linear-gradient(170deg,
			#61DAFB -20%,
			#1C4D8C 100% 0%)
}

.gradient-red-6 {
	background: linear-gradient(315deg,
			theme("colors.gradient.red") 0%,
			theme("colors.gradient.purple") 100%);
}

.gradient-red-7 {
	background: linear-gradient(45deg,
			theme("colors.gradient.red") 0%,
			theme("colors.gradient.purple") 100%);
}

.gradient-red-8 {
	background: linear-gradient(45deg,
			theme("colors.gradient.red") 0%,
			theme("colors.gradient.purple") 100%);
}

.gradient-light-1 {
	background: linear-gradient(180deg,
			theme("colors.gradient.redLight") 0%,
			theme("colors.gradient.black") 100%);
}

.gradient-light-2 {
	background: linear-gradient(117.75deg,
			theme("colors.gradient.redLight") -0.12%,
			theme("colors.gradient.black") 100%);
}

.gradient-light-3 {
	background: linear-gradient(180deg,
			#C2B1E0 20%,
			#493880 100%);
}

.gradient-light-4 {
	background: linear-gradient(180deg,
			#C2B1E0 -0.12%,
			#493880 100%);
}

.gradient-light-5 {
	background: linear-gradient(to right,
			#C2B1E0 -60%,
			#493880 100%);
}

.gradient-light-6 {
	background: linear-gradient(170deg,
		theme("colors.gradient.redLight") 0%,
		#FBC6CF66 100%)
}



.border-gradient::before {
	position: absolute;
	content: "";
	inset: 0;
	border-radius: 32px;
	padding: 1px;
	background: linear-gradient(to bottom, rgba(var(--start-r), var(--start-g), var(--start-b), var(--start-a)), 30%, rgba(var(--end-r), var(--end-g), var(--end-b), var(--end-a)));
	mask: linear-gradient(#161127 0 0) content-box, linear-gradient(#161127 0 0);
	-webkit-mask: linear-gradient(#161127 0 0) content-box, linear-gradient(#161127 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	pointer-events: none;
}

.use-case-tile-gradient {
	background: radial-gradient(ellipse at center, #FBC6CF var(--start-ratio), #FBC6CF00 var(--end-ratio));
	background-size: 90% 110%;
	background-position: center center;
	background-repeat: no-repeat;
}

#usageGhostButton:hover svg path {
	@apply stroke-usage-hoverText;
}

#exampleGhostButton:hover svg path {
	@apply stroke-example-link;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
	-webkit-text-fill-color: white !important;
	/* ensures text color is white */
	background-color: #161127 !important;
	/* sets autofill background to black */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.7s ease-in-out forwards;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

// #cc-main {
// 	--cc-font-family: Aeonik;
// 	--cc-bg: #FFFFFF40;
	
// 	--cc-btn-primary-bg: #000000;
// 	--cc-btn-primary-border-color: #000000;
// 	--cc-btn-primary-hover-bg: #444444;
// 	--cc-btn-primary-hover-border-color: #444444;

// 	--cc-toggle-on-bg: var(--cc-btn-primary-bg);

// 	--cc-btn-border-radius: 10px;
// }

:root {
	--cc-font-family: Aeonik;
	--cc-bg: #ffffff;

	--cc-btn-primary-bg: #624BAA;
	--cc-btn-primary-color: #ffffff;
	--cc-btn-primary-border-color: var(--cc-btn-primary-bg);
	--cc-btn-primary-hover-bg: #8471C1;
	--cc-btn-primary-hover-color: #ffffff;
	--cc-btn-primary-hover-border-color: var(--cc-btn-primary-hover-bg);

	--cc-btn-secondary-bg: #C2B1E0;
	--cc-btn-secondary-color: var(--cc-primary-color);
	--cc-btn-secondary-border-color: var(--cc-btn-secondary-bg);
	--cc-btn-secondary-hover-bg: #d4dae0;
	--cc-btn-secondary-hover-color: #000000;
	--cc-btn-secondary-hover-border-color: #d4dae0;

	--cc-separator-border-color: #f0f4f7;

	--cc-toggle-on-bg: var(--cc-btn-primary-bg);
	--cc-toggle-off-bg: #667481;
	--cc-toggle-on-knob-bg: #ffffff;
	--cc-toggle-off-knob-bg: var(--cc-toggle-on-knob-bg);

	--cc-toggle-enabled-icon-color: var(--cc-bg); // yes (v tick)
	--cc-toggle-disabled-icon-color: var(--cc-bg); // no (x tick)

	--cc-toggle-readonly-bg: #d5dee2;
	--cc-toggle-readonly-knob-bg: #fff;
	--cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);

	--cc-section-category-border: var(--cc-cookie-category-block-bg);

	--cc-cookie-category-block-bg: #f0f4f7;
	--cc-cookie-category-block-border: #f0f4f7;
	--cc-cookie-category-block-hover-bg: #e9eff4;
	--cc-cookie-category-block-hover-border: #e9eff4;
	--cc-cookie-category-expanded-block-bg: transparent;
	--cc-cookie-category-expanded-block-hover-bg: #dee4e9;

	--cc-overlay-bg: rgba(0, 0, 0, 0.65);
	--cc-webkit-scrollbar-bg: var(--cc-section-category-border);
	--cc-webkit-scrollbar-hover-bg: var(--cc-btn-primary-hover-bg);

	--cc-footer-bg: var(--cc-btn-secondary-bg);
	--cc-footer-color: var(--cc-secondary-color);
	--cc-footer-border-color: #e4eaed;
}