button,
input {
  font-family: inherit;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #241f3a;
  --sl-color-accent: #6c56b6;
  --sl-color-accent-high: #c8c4e7;
  --sl-color-text-accent: #f24663db;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eaedf6;
  --sl-color-gray-2: #bec2cc;
  --sl-color-gray-3: #848b9e;
  --sl-color-gray-4: #525869;
  --sl-color-gray-5: #323848;
  --sl-color-gray-6: #212635;
  --sl-color-black: #15181f;

  --ec-tm-markBg: #1e571599 !important;
  --ec-tm-markBrdCol: #487f3bd0 !important;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #d6d3ee;
  --sl-color-accent: #6e58b8;
  --sl-color-accent-high: #332a54;
  --sl-color-text-accent: #f24664;
  --sl-color-white: #15181f;
  --sl-color-gray-1: #212635;
  --sl-color-gray-2: #323848;
  --sl-color-gray-3: #525869;
  --sl-color-gray-4: #848b9e;
  --sl-color-gray-5: #bec2cc;
  --sl-color-gray-6: #eaedf6;
  --sl-color-gray-7: #f5f6fa;
  --sl-color-black: #ffffff;
}

:root[data-theme="light"] .expressive-code:not([data-theme="dark"]),
.expressive-code[data-theme="light"] {
  --ec-tm-markBg: #8ec77d99 !important;
  --ec-tm-markBrdCol: #336a28d0 !important;
}

/* Show the icon on hover */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a:hover::after {
  opacity: 1;
}

.sl-markdown-content ul:not([role]) {
  padding-left: 1.5rem;
}

.sl-markdown-content ul:not([role]) li:not([role]) {
  list-style: disc;
}

a > svg:is([data-theme="dark"] *) {
  color: white;
}

a > svg:is([data-theme="light"] *) {
  color: #161127;
}

.test {
  font-size: 12px;
  background-color: var(--sl-color-gray-5);
  border-radius: 100px;
  border: 1px solid var(--sl-color-gray-4);
  color: var(--sl-color-gray-2);
  padding: 3px 6px;
  margin-left: 6px;
}